<header >
  <div id="headerDiv">
    <div id="headerLogoDiv">
        <div>
            <img id='headerImg' src="../../assets/angular-white-transparent.svg" alt="Header">
        </div>
        <div>
            <b style="margin-top: -0.5rem;">The Receipe App</b>
        </div>
       
     
    </div>

    <div>
      <ul id="listOfMenu">
        <li
          (click)="onClickReceipe()"
          [ngClass]="{ selectedLi: selected.receipe == true }"
        >
          Receipe
        </li>
        <li
          (click)="onClickShoppingList()"
          [ngClass]="{ selectedLi: selected.shopping == true }"
        >
          Shopping-List
        </li>
      </ul>
    </div>
  </div>
</header>
<main id="headerBodyDiv">
  <router-outlet></router-outlet>
</main>

<!-- <div class="component">
  <app-item></app-item>
</div> -->
