<div id="receipe" >
    <div id="receipeListDiv">
        <div id="receipeList" (click)="onClickReceipeList(i)" *ngFor="let receipeData of receipeListData;let i=index">
            <div>
                <p><b>{{receipeData.name}}</b></p>
                <p><i>{{receipeData.description}}</i></p>
            </div>
            <div >
                <img id="imgDiv" [src]="receipeData.img" alt="receipe">
            </div>
        </div>
    </div>

    <div id="receipeDescription" *ngIf="hideShow.showDescription">
        <div id="descriptionImg">
            <img id='descriptionImg' [src]="descriptionData.img" alt="receipe">
        </div>
        <div id="descriptionDetails">
            <p>{{descriptionData.name}}</p>
            <p>{{descriptionData.description}}</p>
        </div>
    </div>
</div>
